.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@mixin center-block;

	margin-bottom: 1.5em;
}
